@using System.Linq
@model Quacka.Models.ApplicationUser

<h2>@Model.UserName 
@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("Follow", "Profiles", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.UserName)
        <input type="submit" value="Follow" class="btn btn-default"/> 
    } 
}</h2>

<div>
    <table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Quacks.First().Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quacks.First().CreatedAt)
        </th>
        <th></th>
    </tr>

        @foreach (var quack in @Model.Quacks.OrderByDescending(q => q.CreatedAt))
        {
            <tr>
                <td>@quack.Body</td>
                <td>@quack.CreatedAt</td>
            </tr>
        }
    </table>
</div>