@using System.Linq
@model Quacka.Models.ShowViewModel

<h2>@Model.UserName</h2>

@if (@Model.Followers.Any())
{
    <div id="followers">
        <p><em>In @Model.UserName's flock:</em>
            @string.Join(", ", Model.Followers.ToArray())
        </p>
    </div>
}
@if (@Model.Following.Any())
{
    <div id="following">
        <p><em>Ducks @Model.UserName is stalking:</em>
            @string.Join(", ", Model.Following.ToArray())
        </p>
    </div>
}

@if (User.Identity.IsAuthenticated)
{
    if (!Model.IsFollowing)
    {
        using (Html.BeginForm("Flock", "Ponds", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.UserName)
            <input type="submit" value="Flock" class="btn btn-default"/>
        }
    }
    else
    {
        using (Html.BeginForm("Unflock", "Ponds", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.UserName)
            <input type="submit" value="Unflock" class="btn btn-default"/>
        }
    }
}

<div>
    <table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Quacks.First().Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quacks.First().CreatedAt)
        </th>
        <th></th>
    </tr>

        @foreach (var quack in @Model.Quacks.OrderByDescending(q => q.CreatedAt))
        {
            <tr>
                <td>@quack.Body</td>
                <td>@quack.CreatedAt</td>
            </tr>
        }
    </table>
</div>